html {
	height: 100%;
	*{
		font-family: $font-family;
	}
	
}

body {
	position: relative;
    padding-bottom: 175px;
	min-height: 100%;
	background-color: $bodybg;
}

a {
	color: $darkLight;

	&:hover,
	&:focus {
		color: $dark;
	}
}

h1{
	font-size: $font-size-larger;
}
h2{
	font-size: $font-size-large;
}
h3 {
	margin-top: 5px;
	padding-bottom: 15px;
	border-bottom: 1px solid $grey;
	// font-size: $font-size-larger;
}

h4 {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid $grey;
	// font-size: $font-size-large;

	&.no-border{
		border-bottom: 0;
	}
}

h5 {
	font-weight: bold;
}

hr {
	border-bottom: 1px solid $greyDark;

	&.grey{
		border-bottom: 1px solid $grey;
	}
}

ul {
	padding: 0;
	list-style: none;
}
textarea{
	resize: none;
	overflow: auto;
}