.login-group{
	.input-group{
	 	width: 100%;
		.input-group-addon{
			position: absolute;
			z-index: 10;
			width: 45px;
			height: 100%;
			background-color: transparent;
			border-right: 1px solid $darkLight3;

			.fa{
				margin-top: 3px;
				color: $darkLighter2;
			}
		}
		.form-control{
		    padding-left: 60px;
			background-color: $darkLight2;
		    border: 1px solid transparent;
		    color: $dirtyWhite;

			 &:focus{
		    	background-color: $darkLight2Dark;
		    }
		}
	}
}