.btn{
	border-radius: 0;

	@include transition(.3s);

	.fa{
		margin-right: 5px;
	}
	&--primary{
		background-color: $red;
		color: $white;
		
		&:hover{
			background-color: $redDark;
			color: $white;

			@include transition(.3s);
		}
	}

	&--action{
		background-color: $blue;
		color: $white;
		
		&:hover{
			background-color: $blueDark;
			color: $white;

			@include transition(.3s);
		}
	}

	&--action--negative{
		background-color: $skyblue;
		color: $white;
		
		&:hover{
			background-color: $skyblueDark;
			color: $white;

			@include transition(.3s);
		}
	}
	
	&[disabled]{
		background-color: $grey;
		color: $white;
		
		&:hover{
			background-color: $grey;
			color: $white;

			@include transition(.3s);
		}
	}

	&--small{
		font-size: $font-size-small;
		padding: 4px 10px;
	}

	&--smaller{
		font-size: $font-size-small;
		padding: 4px;
	}
}