$grey: #C2C2C2;
$greyLight: #D4D4D4;
$greyLighter: #D5D5D5;
$greyDark: #292929;

$yellow: #F7DD2B;
$yellowLight: #FFFF29;

$dark: #242527;
$darkLight: #3D3F43;

$red: #FF441F;
$redDark: #CD3A1D;
$maroon: #9C0000;

$white: #FFFFFF;

$blue: #495b79;
$blueDark: #384760;

$skyblue: #0088AF;
$skyblueDark: #007394;

//USED IN LOGIN
$darkLight2: #424243;
$darkLight2Dark: #252525;
$darkLighter2: #858585;
$dirtyWhite: #DADADA;

$darkLight3: #363637;