$bodybg: #f9f7f7;

$grey: #C2C2C2;
$greyLight: #D4D4D4;
$greyLight2: #CBCBCB;
$greyLighter: #D5D5D5;
$greyDark: #292929;
$greyHeaderLinkbg: #2f3032;

$yellow: #F7DD2B;
$yellowLight: #FFFF29;

$dark: #242527;
$darkLight: #3D3F43;

$red: #FF441F;
$redDark: #CD3A1D;
$maroon: #9C0000;

$white: #FFFFFF;

$blue: #495b79;
$blueDark: #384760;

$cyan: #26f7ff;
$skyblue: #0088AF;
$skyblueDark: #007394;

$oliveGreen: #898e00;



$formgroupborder: #c9c9c9;
$topnavborder: #434343;
$topnavOptionBackground:#47494d;
$bootstrapNavTextColor: #9d9d9d;
$faDisabled: #747474;
//TABLE
$stripecolor: #f5f5f5;
$tablePaginationActive: #f4f4f4;
$tablePaginationBorder: #DDD;

//USED IN LOGIN
$darkLight2: #424243;
$darkLight2Dark: #252525;
$darkLighter2: #858585;
$dirtyWhite: #DADADA;

$darkLight3: #363637;
$dark2: #333333;
$darkbg: #313132;
$darkfooter: #727272;