@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
}

$font-family: 'Roboto', 'Arial', sans-serif;

$font-color: $greyDark;

$font-size-larger: 22px;
$font-size-large: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;